$main-color: #5cdbd3;
$border-color: #eee;
$error-color: red;
$wain-color: yellow;
$label-color: yellow;
$font-color: #111;
$size: 12px;
$size-md: 16px;
$size-lg: 20px;

.flex-center {
  @apply flex items-center justify-center;
}
