@import '../styles/main';

$prefix-cls: 'wa-input';

@mixin active-input {
  border-color: $main-color;
  outline: none;
}

@mixin active-border {
  width: calc(100% + 20px);
  height: 2px;
  background: #fff;
}

@mixin blur-border {
  width: 0;
}

@mixin active-label {
  transform: translateY(-50%) scale(0.8);
  color: $main-color;
  display: flex;
  align-items: center;
  span {
    color: $main-color;
  }
}

@mixin valid-label {
  cursor: text;
}

.#{$prefix-cls} {
  &-wrapper {
    position: relative;
    display: table;
    line-height: normal;
    box-sizing: border-box;
    width: 100%;

    input {
      border: 1px solid $border-color;
      border-radius: 4px;
      height: 36px;
      background: transparent;
      color: $font-color;
      padding: 0 16px;
      width: 100%;
      &:focus,
      &:focus-visible {
        @include active-input;
      }
    }
  }
  &-label,
  &-border {
    position: absolute;
    transition: all 0.2s;
    transition-timing-function: ease-out;
  }
  &-label {
    cursor: text;
    font-size: $size;
    overflow: visible;
    color: $label-color;
    left: 16px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    &-focus {
      @include active-label;
      ~ input {
        @include active-input;
      }
    }
    &-valid {
      @include valid-label;
    }
  }
  &-border {
    left: 0;
    transform: translate(-10px, -50%);
    z-index: -1;
    top: 50%;
    &-focus {
      @include active-border;
    }
    &-valid {
      @include blur-border;
    }
  }
  &-prefix,
  &-suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    cursor: pointer;
    svg {
      font-size: 12px;
    }
    img {
      width: 14px;
    }
  }
  &-prefix {
    left: 8px;
  }
  &-suffix {
    right: 8px;
  }
}

.#{$prefix-cls}-input:-webkit-autofill ~ .#{$prefix-cls}-label {
  .#{$prefix-cls}-border {
    @include active-border;
  }

  @include active-label;
}

.#{$prefix-cls}-wrapper.#{$prefix-cls}-wrapper-prefix {
  input {
    padding-left: 30px;
  }
  .#{$prefix-cls}-label {
    left: 26px;
  }
}

.#{$prefix-cls}-wrapper.#{$prefix-cls}-wrapper-suffix {
  input {
    padding-right: 30px;
  }
}
