$prefix-cls: 'wa-input';

@mixin active-input {
  border-color: $main-color;
  outline: none;
}

@mixin active-border {
  top: 50%;
  width: calc(100% + 20px);
  height: 2px;
  background: #fff;
}

@mixin blur-border {
  width: 0;
}

@mixin active-label {
  transform: translateY(-50%);
}

@mixin valid-label {
  cursor: text;
}

.#{$prefix-cls} {
  &-wrapper {
    position: relative;
    box-sizing: border-box;
    display: table;
    line-height: normal;
    input {
      border: 1px solid $border-color;
      border-radius: 4px;
      height: 30px;
      background: transparent;
      color: $font-color;
      padding: 0 16px;
      &:focus,
      &:focus-visible {
        @include active-input;
      }
    }
  }
  &-label,
  &-border {
    position: absolute;
    transition: all 0.2s;
    transition-timing-function: ease-out;
  }
  &-label {
    cursor: text;
    font-size: $size;
    overflow: visible;
    color: $label-color;
    left: 16px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    &-focus {
      @include active-label;
      ~ input {
        @include active-input;
      }
    }
    &-valid {
      @include valid-label;
    }
  }
  &-border {
    left: 16px;
    transform: translate(-50%, 0);
    z-index: -1;
    &-focus {
      @include active-border;
    }
    &-valid {
      @include blur-border;
    }
  }
}
